<connectionStrings>
  <add name="NWDB"
        connectionString="Data Source=.; Initial Catalog=Northwidn+CPSC1517; Integrated Security=true"
        providerName="System.Data.SqlClient"/>

  <add name="Chinook"
       connectionString="Data Source=.; Initial Catalog = Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>

</connectionStrings>
